* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: #333;
    padding: 2vh 2vw; /* Adjusting padding with viewport units */
    color: white;
    text-align: center;
}

#search {
    width: calc(50vw - 2vw); /* Adjusted width to ensure total width including padding is 50% */
    padding: 1vh 1vw; /* Padding inside the search bar */
    font-size: 4vh;
    margin-left: 0; /* Align to the left without extra margin */
    display: block;
}

main {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#packet-list {
    width: 50vw; /* 50% of the viewport width */
    background: #f4f4f4;
    padding: 2vh 1vw; /* Padding adjusted with viewport units */
    overflow-y: auto;
    height: calc(100vh - 10vh); /* Adjust height based on the header's height */
}

.packet {
    padding: 2vh 1vw;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.packet:hover {
    background: #ddd;
}

#packet-detail {
    flex: 1;
    padding: 2vh 2vw;
    background: #fff;
    height: calc(100vh - 10vh); /* Adjust height based on the header's height */
    overflow-y: auto;
}
